@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.cartSummary {
  margin-left: 63%;
  margin-top: -1119px;
  text-align: center;
  margin-right: 20px;
}

.headerCart { 
  background-color: lightblue;
  padding: 20px;
  margin-top: -50%;
}

.card{
   height: 280px;
}

.cardPage{
  margin-right:650px ;
}